#backend files
.classpath
.settings
.project
.idea
/logs/*
/backend/logs/*
target/
.mvn/


#frontEnd files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
/frontEnd/node_modules/*


#.env files
*.env
!base.mysql.env
!base.dev.env
!base.prod.env


### IntelliJ IDEA ###
*.iws
*.iml
*.ipr


### VS Code ###
.vscode/
